.langaugeteacher {
  position: absolute;
  font-size: 25px;
  text-align: left;
  top: 842px;
  left: 109px;
  width: 251px;
  height: 30px;
  background: transparent url("../img/Language teachers.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

.cards__englishteacher {
  top: 933px;
  left: 109px;
  width: 250px;
  position: absolute;
  height: 144px;
  background: transparent url("../img/Component\ 1\ –\ 11.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

.cards__englishteacher:hover {
  top: 914px;
  left: 109px;
  position: absolute;
  width: 250px;
  height: 181px;
  background: transparent url("../img/Component 1 – 11.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

.cards__spanishteacher {
  top: 937px;
  left: 408px;
  position: absolute;
  width: 250px;
  height: 144px;
  background: transparent url("../img/Component 2 – 11.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

.cards__indiateacher {
  top: 932px;
  left: 708px;
  width: 250px;
  height: 146px;
  position: absolute;
  background: transparent url("../img/Component 5 – 11.png") 0% 0% no-repeat
    padding-box;
}
.cards__chineseteacher {
  top: 933px;
  left: 1007px;
  width: 250px;
  height: 146px;
  background: transparent url("../img/Component 4 – 11.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  position: absolute;
}
.computerprogrammingteachers {
  position: absolute;
  top: 1139px;
  left: 109px;
  width: 499px;
  height: 30px;
  background: transparent url("../img/Computer And Programming Teachers.png") 0%
    0% no-repeat padding-box;
  opacity: 1;
}
.cards__microsoftteacher {
  position: absolute;
  top: 1230px;
  left: 109px;
  width: 250px;
  height: 144px;
  background: transparent url("../img/Component\ 1\ –\ 11.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.cards__webdevteacher {
  position: absolute;
  top: 1230px;
  left: 408px;
  width: 250px;
  height: 144px;
  background: transparent url("../img/Component 2 – 11.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.cards__javateacher {
  top: 1229px;
  left: 708px;
  width: 250px;
  height: 146px;
  position: absolute;
  background: transparent url("../img/Component 5 – 11.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.cards__pythonteacher {
  position: absolute;
  top: 1229px;
  left: 1007px;
  width: 250px;
  height: 146px;
  background: transparent url("../img/Component 4 – 11.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
