@charset "UTF-8";
.details {
  position: absolute;
  top: 1488px;
  left: 0px;
  width: 1365px;
  height: 608px;
  background: transparent url("../img/Group 198.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}

.details__heading {
  top: 1530px;
  left: 109px;
  margin-left: 2rem;
  width: 289px;
  padding: 20px;
  height: 30px;
  /* UI Properties */
  text-align: left;
  font: normal normal 600 25px/30px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.details__others {
  top: 7rem;
  left: 4rem;
  position: absolute;
  width: 574px;
  height: 400px;
  margin-left: 3rem;
  background: transparent url("../img/Component 15 – 2.png") 0% 0% no-repeat padding-box;
  border-radius: 40px 0px;
}

.details__secondheading {
  position: absolute;
  top: 8rem;
  left: 48rem;
  width: 254px;
  height: 43px;
  position: absolute;
  /* UI Properties */
  background: transparent url("../img/I'm a Student..png") 0% 0% no-repeat padding-box;
  opacity: 1;
}

.details__thirdheading {
  position: absolute;
  top: 12rem;
  left: 48rem;
  width: 395px;
  position: absolute;
  height: 32px;
  background: transparent url("../img/Watch how DuaLingua works..png") 0% 0% no-repeat padding-box;
  opacity: 1;
}

.details__paragraph {
  top: 18rem;
  left: 48rem;
  width: 461px;
  height: 66px;
  position: absolute;
  background: transparent url("../img/First-time students will receive a voucher of 15€ for Etsy (www.etsy.de), a platform offering handmade items directly from the producers..png") 0% 0% no-repeat padding-box;
  opacity: 1;
}

.seconddetails {
  top: 2096px;
  left: -1.302734375px;
  width: 1368px;
  height: 611px;
  position: absolute;
  /* UI Properties */
  background: transparent url("../img/Group 199.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}

.seconddetails__others {
  top: 4rem;
  left: 40rem;
  position: absolute;
  width: 575px;
  margin: 3rem;
  height: 383px;
  /* UI Properties */
  background: transparent url("../img/Component 15 – 2.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}

.seconddetails__secondheading {
  font-size: 35px;
  font-family: Montserrat, Bold;
  top: 9rem;
  left: 6rem;
  color: white;
  width: 243px;
  height: 43px;
  position: absolute;
  opacity: 1;
}

.seconddetails__thirdheading {
  top: 14rem;
  left: 6rem;
  width: 395px;
  position: absolute;
  height: 32px;
  background: transparent url("../img/Watch how DuaLingua works..png") 0% 0% no-repeat padding-box;
  opacity: 1;
}

.seconddetails__paragraph {
  position: absolute;
  top: 18rem;
  left: 6rem;
  width: 459px;
  height: 66px;
  /* UI Properties */
  background: transparent url("../img/First-time teachers will receive a voucher of 15€ for Etsy (www.etsy.de), a platform offering handmade items directly from the producers..png") 0% 0% no-repeat padding-box;
  opacity: 1;
}

.thirddetails {
  top: 2705px;
  left: -109px;
  width: 1476px;
  height: 457px;
  position: absolute;
  background: transparent url("../img/Group 200.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}

.thirddetails__card {
  top: 4rem;
  left: 38rem;
  width: 791px;
  position: absolute;
  height: 233px;
  /* UI Properties */
  background: transparent url("../img/Scroll Group 1.png") 0% 0% no-repeat padding-box;
  mix-blend-mode: normal;
  opacity: 1;
}

.thirdetails__title {
  left: 10rem;
  top: 2rem;
  width: 177px;
  height: 30px;
  position: absolute;
  background: transparent url("../img/Success Story.png") 0% 0% no-repeat padding-box;
}

.thirddetails__bigcard {
  top: 6rem;
  left: 16rem;
  width: 357px;
  height: 320px;
  position: absolute;
  background: transparent url("../img/Rectangle 241.png") 0% 0% no-repeat padding-box;
  border-radius: 40px 0px;
  opacity: 1;
}/*# sourceMappingURL=Details.css.map */